<div id="test">
	<data-grid>
		<data-column uid="1" name="test"></data-column>
		<data-column v-for="name in names" :uid="name" :key="name" :name="name"></data-column>
		<data-column uid="2" :name="foo"></data-column>
	</data-grid>
	<input type="text" v-model="foo"/>
	<button v-on:click="names.push('dynamic '+id++)">add column</button>
	<button v-on:click="names.splice(0, 1)">remove column</button>
</div>


<link rel="stylesheet" href="@Url.Content("~/Scripts/dataGrid.css")" />
<script src="@Url.Content("~/Scripts/dataGrid.umd.js")"></script>
<script src="@Url.Content("~/Scripts/test.js")"></script>
