<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script src="@Url.Content("~/Scripts/vue.js")"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
