.dg-grid {

   font-family: Helvetica Neue, Helvetica, sans-serif;
   font-size: 14px;

   .dg-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;
   }

   .dg-hidden {
      display: none;
   }

   .dg-head {
      .sort-direction {
         display: inline-block;
         width: 5px;
         margin-left: 3px;
         position: relative;
      }

      th {
         &.can-sort {
            cursor: pointer;
            user-select: none;
         }
      }
   }

   .dg-footer {
      .dg-pager {
         input {
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
            margin-right: 5px;
         }
      }
   }
}

.dg-grid.dg-light {

   .row-border() {
      border-bottom: 1px solid #eff2f7;
   }

   @padding: 10px;

   .dg-head {

      .sort-direction {
         font-size: 0.8em;
         position: relative;
         top: -2.5px;
      }

      th {
         color: #909090;
         text-align: left;
         padding: @padding;
         font-weight: bold;
         padding: @padding;
         .row-border();

         div {
            display: inline-block;
         }
      }
   }

   .dg-footer {
      padding: @padding;
      text-align: right;

      .dg-pager {
         input {
            border: 1px solid #bababa;
            border-radius: 3px;
         }
      }
   }

   .dg-body {

      tr {
         transition: background-color .25s ease;

         &:hover {
            background-color: #f8fafc;
         }
      }

      td {
         padding: @padding;
         .row-border();

      }
   }
}
