.dg-grid {

   font-family: Helvetica Neue, Helvetica, sans-serif;
   font-size: 14px;
   position: relative;

   .dg-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;

      th.dg-selector {
         width: 10px;
      }
   }

   .dg-details { 
      width: 10px; 

      a {
         text-decoration: none;
         display: inline-block;
         font-size: 0.8em;
         transform: rotate(90deg);
         transition: transform .05s ease;

         &.dg-expanded {
            transform: rotate(180deg);
         }
      }
   }

   .dg-hidden {
      display: none;
   }

   .dg-column-filter {
      position: relative;

      .dg-filter-popup {
         [data-component='BoolFilter'] {
            label {
               display: block;
               line-height: 1.8em;
            }
         }
      }

      a.dg-popup-link {
         transition: transform 0.1s;
         text-decoration: none;
         display: block;
         font-size: 0.75em;
      }

      &[data-opened] {
         a.dg-popup-link {
            transform: rotate(180deg);
         }
      }
   }

   .dg-head {
      .sort-direction {
         display: inline-block;
         width: 5px;
         margin-left: 3px;
         position: relative;
      }

      th {
         &.can-sort {
            cursor: pointer;
            user-select: none;
         }
      }
   }

   .dg-footer {
      .dg-pager {
         input {
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
            margin-right: 5px;
         }
      }

      .dg-page-list {
         a {
            text-decoration: none;
         }
      }
   }

   @keyframes loaderAnimation {
      0% { left: 0 }
      100% { left: 50 }
   }

   .dg-loader {
      width: 30%;
      max-width: 20px;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      animation-name: loaderAnimation;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
   }
}

.dg-grid.dg-light {

   &, a {
      color: #353535;
   }

   @borderColor: #eff2f7;
   @headerText: #909090;
   @highlight: #4f90ce;

   .dg-loader {
      background: @headerText;
   }

   .dg-details a {
      color: @headerText;
   }

   .row-border() {
      border-bottom: 1px solid @borderColor;
   }

   .dg-column-filter {
      .dg-filter-popup {
         border: 1px solid @borderColor;
         position: absolute;
         top: 20px;
         padding: @padding;
         left: 0;
         background: white;
         box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
      }

      .dg-popup-actions {
         a { 
            color: @headerText; 
            text-decoration: none;
            font-weight: normal;
         }
      }

      &[data-has-value] {
         a.dg-popup-link {
            color: @highlight;
         }
      }
      a.dg-popup-link {
         padding: 4px;
         color: @headerText;
      }

      .dg-popup-actions {
         border-top: 1px solid @borderColor;
         padding: @padding;
         padding-bottom: 0;

         a { margin-right: 8px; }
      }
   }

   @padding: 10px;

   .dg-head {

      .sort-direction {
         font-size: 0.8em;
         position: relative;
         top: -2.5px;
      }

      th {
         color: @headerText;
         text-align: left;
         padding: @padding;
         font-weight: bold;
         padding: @padding;
         .row-border();

         div {
            display: inline-block;
         }
      }
   }

   .dg-footer {
      padding: @padding;
      height: 30px;

      .dg-pager {
         float: right;

         input {
            border: 1px solid #bababa;
            border-radius: 3px;
         }
      }

      .dg-page-list {
         float: left;

         a, span {
            margin-right: @padding;
         }
         
         a:hover {
            color: #808080
         }

         a[disabled] {
            pointer-events: none;
         }

         span {
            font-weight: bold;
            font-size: 1.05em;
            color: #4e4e4e
         }

      }
   }

   .dg-body {

      tr {
         transition: background-color .25s ease;

         &:hover {
            background-color: #f8fafc;
         }

         &.dg-selected {
            background-color: #f0f3f7;
         }

         &.dg-selected:hover {
            background-color: #ecf2fa;
         }

         &.dg-details-row {
            td { padding-left: 2*@padding;
            }
         }
      }

      td {
         padding: @padding;
         .row-border();
      }
   }
}
